<a href="https://colab.research.google.com/github/Yegeurina/HW_BigDataProject/blob/main/DosAttack%EC%A0%84%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
label=['TimeStamp','CAN ID','DLC','DATA0','DATA1','DATA2','DATA3','DATA4','DATA5','DATA6','DATA7','Flag']

In [3]:
dos = pd.Cov = pd.read_csv('/content/drive/Shareddrives/빅응보 플젝/DoS_dataset.csv',names=label)

In [4]:
dos.astype('object')
dos.astype({'TimeStamp' : 'float64'})
dos.astype({'DLC':'int64'})
dos.dtypes

TimeStamp    float64
CAN ID        object
DLC            int64
DATA0         object
DATA1         object
DATA2         object
DATA3         object
DATA4         object
DATA5         object
DATA6         object
DATA7         object
Flag          object
dtype: object

In [5]:
# 결측값 있는 행 제거
dos.dropna(axis=0,how='any',inplace=True)

In [6]:
dos['CAN ID']=dos['CAN ID'].apply(lambda x : int(str(x),16)) 
for i in range(0,8):
  adr = 'DATA'+str(i)
  #print(adr)
  dos[adr]=dos[adr].apply(lambda x : int(str(x),16))

In [7]:
from datetime import datetime
import time

In [8]:
import math

In [9]:
dos['TimeStamp']=dos['TimeStamp']*math.pow(10,9)
dos['TimeStamp']=pd.to_datetime(dos['TimeStamp'],format="%Y-%m-%d %H:%M:%S")

In [10]:
dos['Diff']=dos.TimeStamp.diff()

In [11]:
dos = dos.sort_values(by=['CAN ID'],ascending=True)
dos

                            TimeStamp  CAN ID  ...  Flag                      Diff
1831371 2016-11-03 19:05:41.768986112       0  ...     T 0 days 00:00:00.000497920
440388  2016-11-03 18:46:03.006508032       0  ...     T 0 days 00:00:00.000246272
1414144 2016-11-03 19:00:15.912610048       0  ...     T 0 days 00:00:00.000244992
440390  2016-11-03 18:46:03.007015936       0  ...     T 0 days 00:00:00.000244736
1414142 2016-11-03 19:00:15.912121088       0  ...     T 0 days 00:00:00.000244224
...                               ...     ...  ...   ...                       ...
1048184 2016-11-03 18:54:27.644825088    1680  ...     R 0 days 00:00:00.000259072
571240  2016-11-03 18:48:02.736950784    1680  ...     R 0 days 00:00:00.000272896
2618358 2016-11-03 19:16:33.822465024    1680  ...     R 0 days 00:00:00.000979968
2125065 2016-11-03 19:09:47.329556992    1680  ...     R 0 days 00:00:00.000247040
161220  2016-11-03 18:41:36.243117056    1680  ...     R 0 days 00:00:00.000246016

[3634583 rows x 13 columns]

In [12]:
def generate_lagged_features(dos,var,max_lag) : 
  for t in range(1,max_lag+1) :
    dos[var+'_lag'+str(t)]=dos.groupby('CAN ID')[var].shift(t)

In [13]:
grouped = dos.groupby('CAN ID')
grouped.size()
Max_num = max(grouped.size())
Min_num = min(grouped.size())

In [14]:
generate_lagged_features(dos,'Diff',10) #min max로 설정하니 값이 너무 커서 세션 다운됨... 
dos

                            TimeStamp  ...                Diff_lag10
1831371 2016-11-03 19:05:41.768986112  ...                       NaT
440388  2016-11-03 18:46:03.006508032  ...                       NaT
1414144 2016-11-03 19:00:15.912610048  ...                       NaT
440390  2016-11-03 18:46:03.007015936  ...                       NaT
1414142 2016-11-03 19:00:15.912121088  ...                       NaT
...                               ...  ...                       ...
1048184 2016-11-03 18:54:27.644825088  ... 0 days 00:00:00.000257792
571240  2016-11-03 18:48:02.736950784  ... 0 days 00:00:00.000897792
2618358 2016-11-03 19:16:33.822465024  ... 0 days 00:00:00.000968960
2125065 2016-11-03 19:09:47.329556992  ... 0 days 00:00:00.001998080
161220  2016-11-03 18:41:36.243117056  ... 0 days 00:00:00.000250112

[3634583 rows x 23 columns]

In [ ]:
dos.to_csv('/content/drive/Shareddrives/빅응보 플젝/Preprocessing_Dos.csv')