<a href="https://colab.research.google.com/github/Yegeurina/HW_BigDataProject/blob/main/DosAttack%EC%A0%84%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [6]:
label=['TimeStamp','CAN ID','DLC','DATA0','DATA1','DATA2','DATA3','DATA4','DATA5','DATA6','DATA7','Flag']

In [7]:
label

['TimeStamp',
 'CAN ID',
 'DLC',
 'DATA0',
 'DATA1',
 'DATA2',
 'DATA3',
 'DATA4',
 'DATA5',
 'DATA6',
 'DATA7',
 'Flag']

In [78]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [79]:
dos = pd.Cov = pd.read_csv('/content/drive/Shareddrives/빅응보 플젝/DoS_dataset.csv',names=label)

In [80]:
dos

            TimeStamp CAN ID  DLC DATA0 DATA1  ... DATA4 DATA5 DATA6 DATA7 Flag
0        1.478198e+09   0316    8    05    21  ...    21    21    00    6f    R
1        1.478198e+09   018f    8    fe    5b  ...    00    3c    00    00    R
2        1.478198e+09   0260    8    19    21  ...    08    8e    6d    3a    R
3        1.478198e+09   02a0    8    64    00  ...    97    02    bd    00    R
4        1.478198e+09   0329    8    40    bb  ...    11    20    00    14    R
...               ...    ...  ...   ...   ...  ...   ...   ...   ...   ...  ...
3665766  1.478201e+09   018f    8    fe    59  ...    00    41    00    00    R
3665767  1.478201e+09   0260    8    18    21  ...    08    8f    6d    19    R
3665768  1.478201e+09   02a0    8    24    00  ...    97    02    bd    00    R
3665769  1.478201e+09   0329    8    dc    b7  ...    11    20    00    14    R
3665770  1.478201e+09   0545    8    d8    00  ...    00    00    00    00    R

[3665771 rows x 12 columns]

In [51]:
dos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3634583 entries, 0 to 3665770
Data columns (total 12 columns):
 #   Column     Dtype
---  ------     -----
 0   TimeStamp  float64
 1   CAN ID     int64
 2   DLC        int64
 3   DATA0      int64
 4   DATA1      int64
 5   DATA2      int64
 6   DATA3      int64
 7   DATA4      int64
 8   DATA5      int64
 9   DATA6      int64
 10  DATA7      int64
 11  Flag       object
dtypes: float64(1), int64(10), object(1)
memory usage: 360.5+ MB

In [52]:
dos.dtypes

TimeStamp    float64
CAN ID         int64
DLC            int64
DATA0          int64
DATA1          int64
DATA2          int64
DATA3          int64
DATA4          int64
DATA5          int64
DATA6          int64
DATA7          int64
Flag          object
dtype: object

In [81]:
dos.astype('object')
dos.astype({'TimeStamp' : 'float64'})
dos.astype({'DLC':'int64'})
dos.dtypes

TimeStamp    float64
CAN ID        object
DLC            int64
DATA0         object
DATA1         object
DATA2         object
DATA3         object
DATA4         object
DATA5         object
DATA6         object
DATA7         object
Flag          object
dtype: object

In [54]:
dos.isna().sum()

TimeStamp    0
CAN ID       0
DLC          0
DATA0        0
DATA1        0
DATA2        0
DATA3        0
DATA4        0
DATA5        0
DATA6        0
DATA7        0
Flag         0
dtype: int64

In [82]:
# 결측값 있는 행 제거
dos.dropna(axis=0,how='any',inplace=True)
dos

            TimeStamp CAN ID  DLC DATA0 DATA1  ... DATA4 DATA5 DATA6 DATA7 Flag
0        1.478198e+09   0316    8    05    21  ...    21    21    00    6f    R
1        1.478198e+09   018f    8    fe    5b  ...    00    3c    00    00    R
2        1.478198e+09   0260    8    19    21  ...    08    8e    6d    3a    R
3        1.478198e+09   02a0    8    64    00  ...    97    02    bd    00    R
4        1.478198e+09   0329    8    40    bb  ...    11    20    00    14    R
...               ...    ...  ...   ...   ...  ...   ...   ...   ...   ...  ...
3665766  1.478201e+09   018f    8    fe    59  ...    00    41    00    00    R
3665767  1.478201e+09   0260    8    18    21  ...    08    8f    6d    19    R
3665768  1.478201e+09   02a0    8    24    00  ...    97    02    bd    00    R
3665769  1.478201e+09   0329    8    dc    b7  ...    11    20    00    14    R
3665770  1.478201e+09   0545    8    d8    00  ...    00    00    00    00    R

[3634583 rows x 12 columns]

In [83]:
dos['CAN ID']=dos['CAN ID'].apply(lambda x : int(str(x),16)) 
for i in range(0,8):
  adr = 'DATA'+str(i)
  #print(adr)
  dos[adr]=dos[adr].apply(lambda x : int(str(x),16))
dos

            TimeStamp  CAN ID  DLC  DATA0  ...  DATA5  DATA6  DATA7  Flag
0        1.478198e+09     790    8      5  ...     33      0    111     R
1        1.478198e+09     399    8    254  ...     60      0      0     R
2        1.478198e+09     608    8     25  ...    142    109     58     R
3        1.478198e+09     672    8    100  ...      2    189      0     R
4        1.478198e+09     809    8     64  ...     32      0     20     R
...               ...     ...  ...    ...  ...    ...    ...    ...   ...
3665766  1.478201e+09     399    8    254  ...     65      0      0     R
3665767  1.478201e+09     608    8     24  ...    143    109     25     R
3665768  1.478201e+09     672    8     36  ...      2    189      0     R
3665769  1.478201e+09     809    8    220  ...     32      0     20     R
3665770  1.478201e+09    1349    8    216  ...      0      0      0     R

[3634583 rows x 12 columns]

In [84]:
from datetime import datetime
import time

In [85]:
import math

In [86]:
dos['TimeStamp']=dos['TimeStamp']*math.pow(10,9)
dos['TimeStamp']=pd.to_datetime(dos['TimeStamp'],format="%Y-%m-%d %H:%M:%S")
dos

                            TimeStamp  CAN ID  DLC  ...  DATA6  DATA7  Flag
0       2016-11-03 18:39:36.389426944     790    8  ...      0    111     R
1       2016-11-03 18:39:36.389636096     399    8  ...      0      0     R
2       2016-11-03 18:39:36.389863936     608    8  ...    109     58     R
3       2016-11-03 18:39:36.390096128     672    8  ...    189      0     R
4       2016-11-03 18:39:36.390332928     809    8  ...      0     20     R
...                               ...     ...  ...  ...    ...    ...   ...
3665766 2016-11-03 19:26:49.058007040     399    8  ...      0      0     R
3665767 2016-11-03 19:26:49.058236928     608    8  ...    109     25     R
3665768 2016-11-03 19:26:49.058471168     672    8  ...    189      0     R
3665769 2016-11-03 19:26:49.058702848     809    8  ...      0     20     R
3665770 2016-11-03 19:26:49.058944000    1349    8  ...      0      0     R

[3634583 rows x 12 columns]

In [90]:
dos['Diff']=dos.TimeStamp.diff()
dos

                            TimeStamp  CAN ID  ...  Flag                      Diff
0       2016-11-03 18:39:36.389426944     790  ...     R                       NaT
1       2016-11-03 18:39:36.389636096     399  ...     R 0 days 00:00:00.000209152
2       2016-11-03 18:39:36.389863936     608  ...     R 0 days 00:00:00.000227840
3       2016-11-03 18:39:36.390096128     672  ...     R 0 days 00:00:00.000232192
4       2016-11-03 18:39:36.390332928     809  ...     R 0 days 00:00:00.000236800
...                               ...     ...  ...   ...                       ...
3665766 2016-11-03 19:26:49.058007040     399  ...     R 0 days 00:00:00.000225024
3665767 2016-11-03 19:26:49.058236928     608  ...     R 0 days 00:00:00.000229888
3665768 2016-11-03 19:26:49.058471168     672  ...     R 0 days 00:00:00.000234240
3665769 2016-11-03 19:26:49.058702848     809  ...     R 0 days 00:00:00.000231680
3665770 2016-11-03 19:26:49.058944000    1349  ...     R 0 days 00:00:00.000241152

[3634583 rows x 13 columns]

In [91]:
dos.to_csv('/content/drive/Shareddrives/빅응보 플젝/Preprocessing_Dos.csv')